@model ToyotaGarancneOpravy.Models.PrilohaTyp

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PrilohaTyp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrilohaNazov" class="control-label"></label>
                <input asp-for="PrilohaNazov" class="form-control" />
                <span asp-validation-for="PrilohaNazov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrilohaPopis" class="control-label"></label>
                <input asp-for="PrilohaPopis" class="form-control" />
                <span asp-validation-for="PrilohaPopis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktivna" class="control-label"></label>
                <input asp-for="Aktivna" class="form-control" />
                <span asp-validation-for="Aktivna" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateddBy" class="control-label"></label>
                <input asp-for="CreateddBy" class="form-control" />
                <span asp-validation-for="CreateddBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
